{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Auctions" %}
{% endblock title %}

{% block main %}
    <div class="wrapper">
        <div class="container">
            {% include 'header.html' with cart_items=cart_items craftmanship=craftmanship country_name=country_name%}
            <main class="content">
                <div class="center gallery-page">
                    <h1 style="margin-bottom: 20px;">{% trans "Календарь проведения аукционов" %}</h1>
                    <div class="filter-content">
                        <ul class="filters">
                            <li class="title">
                                <span>{% trans "Фильтровать по" %}:</span>
                                <a href="{% url 'general:blog_page' %}">{% trans "Очистить все" %}</a>
                            </li>

                            {% include "pages/main_filter.html" %}
                        </ul>
                        {% for auct in auction %}
                        <div class="cards-panel">
                            <div class="cards-content auctions"  id="cards-main">
                                <div class="card_action_block" style="display: flex;">
                                    <a href="{% url 'general:auctions_detail_page' auct.slug %}" class="mobile link_action_info ">{{ auct.name }}</a>
                                    <div class="card_action_img_block">
                                        <img src="{{ auct.photo.url }}" alt="" width="200px">
                                    </div>
                                    <div class="card_action_info_block">
                                        <a href="{% url 'general:auctions_detail_page' auct.slug %}" class="link_action_info">{{ auct.name }}</a>
                                        <p class="text_action_info martop10">
                                            <span class="span_text_action_info">Дата проведения:</span> {{ auct.date }}
                                        </p>
                                        <p class="text_action_info marbot20">
                                            <span class="span_text_action_info">Количество произведений:</span> {{ auct.count_lots }}
                                        </p>
                                        {% if date_now > auct.date %}
                                            <p class="text_action_info marbot20">Аукцион завершен</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock main %}
{% block js_partials %}
    <script type="text/javascript" src="{% static 'js/home.page.js' %}"></script>
{% endblock js_partials %}