{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Auctions" %}
{% endblock title %}

{% block main %}
    <div class="wrapper">
        <div class="container">
            {% include 'header.html' with cart_items=cart_items craftmanship=craftmanship country_name=country_name%}
            <main class="content">
              {% for auct in auction %}
                <div class="center gallery-page">
                    <h1 style="text-align: center;">{{ auct.name }}</h1>
                    <div class="main_action_item">
                        <div class="action_item_img">
                            <img src="{{ auct.photo.url }}" class="img_item_action" alt="">
                        </div>
                        <div class="action_item_info">
                            <p class="action_item_text">Дата проведения: {{ auct.date }}</p>
                            <p class="action_item_text">Адрес проведения: {{ auct.adress }}</p>
                            <p class="action_item_text">Количество лотов: {{ auct.count_lots }}</p>
<!--                            <p class="action_item_text">Карта:</p>-->
<!--                            <iframe src="{{ auct.map }}" frameborder="0"></iframe>-->
                        </div>
                    </div>
                  {{ auct.content|safe }}
                </div>
              {% endfor %}
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock main %}
{% block js_partials %}
    <script type="text/javascript" src="{% static 'js/home.page.js' %}"></script>
{% endblock js_partials %}