{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Auctions" %}
{% endblock title %}

{% block main %}
    <div class="wrapper">
        <div class="">
            {% include 'header.html' with cart_items=cart_items craftmanship=craftmanship country_name=country_name%}
            <main class="content">
                <div class="center gallery-page">
                    <h1 style="text-align: center;">{{ auction.name }}</h1>
                    <div class="main_action_item">
                        <div class="action_item_img">
                            <img src="{{ auction.photo.url }}" class="img_item_action" alt="">
                        </div>
                        <div class="action_item_info">
                            <p class="action_item_text"><b>{% trans 'Дата:' %}</b> {{ auction.date }}</p>
                            <p class="action_item_text"><b>{% trans 'Адрес проведения:' %}</b> {{ auction.adress }}</p>
                            <p class="action_item_text"><b>{% trans 'Количество лотов:' %}</b> {{ auction.count_lots }}</p>
                            <p class="action_item_text">{{ auction.content|default_if_none:""|safe }}</p>

                        </div>
                    </div>
                </div>
                {% for lot in lots %}
                    <div class="center gallery-page">
                        <h2 style="text-align: center;">{{ lot.title }}</h2>
                        <div class="main_action_item">
                            <div class="action_item_img">
                                <img src="{{ lot.img.url }}" class="img_item_action" alt="">
                            </div>
                            <div class="action_item_info">
                                <p class="action_item_text"><b>{% trans 'Номер лота №' %}</b> {{ lot.number_lot }}</p>
                                <p class="action_item_text"><b>{% trans 'Автор:' %}</b> {{ lot.author }}</p>
                                <p class="action_item_text">{{ lot.description|safe }}</p>
                                <p class="action_item_text"><b>{% trans 'Оценочная стоимость:' %}</b> {{ lot.assessed_value }}
                                    {% if LANGUAGE_CODE == 'ru' %}
                                    сум
                                    {% elif LANGUAGE_CODE == 'uz' %}
                                    so'm
                                    {% else %}
                                    sum
                                    {% endif %}
                                </p>
                                <p class="action_item_text"><b>{% trans 'Стартовая стоимость:' %}</b> {{ lot.start_price_lot }}
                                    {% if LANGUAGE_CODE == 'ru' %}
                                    сум
                                    {% elif LANGUAGE_CODE == 'uz' %}
                                    so'm
                                    {% else %}
                                    sum
                                    {% endif %}
                                </p>
                                <p class="action_item_text"><b>{% trans 'Цена продажи:' %}</b> {{ lot.lot_selling_price }}
                                    {% if LANGUAGE_CODE == 'ru' %}
                                    сум
                                    {% elif LANGUAGE_CODE == 'uz' %}
                                    so'm
                                    {% else %}
                                    sum
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock main %}

{% block js_partials %}
    <script type="text/javascript" src="{% static 'js/home.page.js' %}"></script>
{% endblock js_partials %}