{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Team" %}
{% endblock title %}

{% block main %}
    <div class="wrapper">
        <div class="container">
            {% include 'header.html' with cart_items=cart_items craftmanship=craftmanship country_name=country_name%}
            <main class="content expert-page">
                <div class="center">
                    <div class="header-title bordered">
                        <h1>{% trans "Наши эксперты" %}</h1>
                    </div>
                    <div class="experts-cer">
                        {% for expert in experts %}
                            <div class="item">
                                <div class="img">
                                    <img src="{{ expert.photo.url }}" alt="{{ expert.name }}'s photo"/>
                                </div>
                                <div class="caption">
                                    <strong>{{ expert.name }}</strong>
                                    <p>{{ expert.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock main %}