<div class="container" id="mygallery">
    {% for rand in rand_works %}
        <a href="{% url 'general:catalog_detail_page' rand.slug %}" title="{{ rand.name }}">
            <img loading="lazy" width="240" height="300" src="{{ rand.photo.url }}" alt="{{ rand.name }}"/>
            <div class="description">
                <div>
                    <strong>{{ rand.name }}</strong>
                    {% if rand.year_of_creation %}
                        <span>{{ rand.year_of_creation }}</span>
                    {% endif %}
                </div>
                <strong>{{ rand.author.name }}</strong>
            </div>
        </a>
    {% endfor %}
</div>
    