{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Team" %}
{% endblock title %}

{% block main %}
    <div class="wrapper">
        <div class="container">
            {% include 'header.html' with cart_items=cart_items craftmanship=craftmanship country_name=country_name%}
            <main class="content expert-page">
                <div class="center ">
                        {% for member in member %}
                        <div class="row_aac1">
                            <div class="row_aac2">
                                <div class="blockLogoUserAac">
                                    <img src="{{ member.photo.url }}" alt="{{ team_member.name }}" class="logoUserAac">
                                </div>
                                <div class="infoAac">
                                    <h2 class="h2User">{{ member.name }}</h2>
                                    <p class="pUser">{{ member.description }}</p>
                                </div>
                            </div>
                            {% if member.certificate %}
                            <div class="blockCharterAac">
                                <img src="{{ member.certificate.url }}" alt="{% trans 'сертификат' %}" class="charterAac">
                            </div>
                            {% endif %}
                        </div>
                        <div class="hr"></div>
                        {% endfor %}
                        <div class="exit"></div>
                    </div>

                </div>
            </main>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}